html{
	height: calc(100vh - env(safe-area-inset-bottom));
}
body{
	height: calc(100vh - env(safe-area-inset-bottom));
}
.btnRow .col-3,.col-6{
	display: flex;
	justify-content: center;
}
.formstyle{
	background-color: black;
	height: calc(100vh - env(safe-area-inset-bottom));
}

.btnRow {

}

.buton {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 50px;
	height:50px;
	background-color:gray;
	border: none;
	color: white;
}

.buton-zero {
	padding-left: 20px;
	text-align: left;
	border-radius:25px;
	width: 142px;
	height:50px;
	background-color: gray;
	border: none;
	color: white;
}

.yellow-buton {
	background-color: orange;
}

.gray-buton {
	background-color:#ccc;
	color: black;
}

.screen {
	width: 100%;
	height: 150px;
	font-size: 3rem;
	border: none;
	background-color: black;
}

@media (max-width:900px){
	body{
		background-color: black;
		/*min-height: 100vh;*/

		/*min-height: -webkit-fill-available;*/
	}
	.formstyle {
		height: calc(100vh - env(safe-area-inset-bottom));
		position: relative;
	}
	.btnRow{
		position: absolute;
		bottom: 1rem;
		left: 0;
		width: 100%;
	}

	.screen {
		height: clamp(30vh,50vh,60vh);
		font-size: 3.5rem;
	}
	.buton{
		width: 70px;
		height: 70px;
		font-size: 2rem;
		font-weight: 600;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.gray-buton{
		font-weight: 400;
	}
	.buton-zero{
		width: 165px;
		height: 70px;
		border-radius: 50px;
		font-size: 2rem;
		font-weight: 600;
	}
}